# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Operating System files
.DS_Store  # macOS
Thumbs.db  # Windows

# IDE/editor files
.vscode/
.idea/

# Build directories
/dist/
/build/

# Dependency directories (if using Yarn or other package managers)
.yarn/
.pnp/

# Package lock files (if you prefer using yarn)
yarn.lock

# Other potential files/folders to ignore
*.tgz
*.bak
*.swp

# MacOS Finder files
.AppleDouble
.LSOverride
